.item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
}

.item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
}
