.cartSection {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: 8rem;
  left: 60%;
  right: 1rem;
}

.cart {
  background-color: #fff;
  padding: 1rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.cart strong {
  font-size: 2rem;
}
