.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.error {
  background-color: var(--clr-primary-light);
  width: 40%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  color: red;
  text-align: center;
}

.formCard {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--clr-primary-light);
  color: var(--clr-primary-shade);
  position: relative;
}

.formCard form {
  display: flex;
  flex-direction: column;
}

.formCard form input {
  background-color: #fff;
}

.formCard h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--clr-primary-shade);
}

@media only screen and (max-width: 1000px) {
  .formCard {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .formCard {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .formCard {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .content {
    min-height: 80vh;
  }
}

@media only screen and (max-width: 400px) {
  .formCard {
    width: 100%;
  }
}
