.nav {
  background-color: var(--clr-primary);
  color: #fff;
  border-radius: 1rem;
  position: relative;
}

.nav a {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  font-size: 3rem;
}

.nav h2 {
  text-align: center;
  padding: 1rem 0;
}
